html,
body {
  height: 100%;
  overflow: hidden;
}
a {
  color: inherit;
}
main {
  color: rgb(37, 37, 37);
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.005);
  font-family: "Work Sans", sans-serif;

  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right bottom, #ffffff, #fcfafc, #f9f6f8, #f8f1f3, #f6ecec);
}
main .profile {
  height: 240px;
  width: 240px;
}
main h1 {
  font-size: 3em;
}
main h2 {
  margin-top: 0;
  font-weight: normal;
  opacity: 0.8;
  text-align: center;
  width: 300px;
}
main p {
  box-sizing: border-box;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 3px;
  padding: 20px;
  width: 500px;
}
main ul {
  box-sizing: border-box;
  width: 500px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 3px;
  margin: 0;
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main ul li {
  font-size: 2em;
  cursor: pointer;
  opacity: 0.5;
  margin: 10px;
  transition: opacity 0.5s;
}
main ul li:hover {
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  main p {
    width: 95%;
  }
  main ul {
    width: 95%;
  }
  main h2 {
    width: 80%;
  }
}
