html,
body {
  height: 100%;
  overflow: hidden;
}
a {
  color: inherit;
}
main {
  color: rgb(37, 37, 37);
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.005);
  font-family: "Work Sans", sans-serif;

  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right bottom, #ffffff, #fcfafc, #f9f6f8, #f8f1f3, #f6ecec);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
  background-color: #ffffff;
}
.profile {
  height: 200px;
  width: 200px;
}
h1 {
  font-size: 3em;
  text-align: center;
}
h2 {
  margin-top: 0;
  font-weight: normal;
  opacity: 0.8;
  text-align: center;
  width: 300px;
}
ul {
  margin: 0;
  padding: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul li {
  text-align: center;
  font-size: 1.4em;
  cursor: pointer;
  opacity: 0.5;
  margin: 10px;
  transition: opacity 0.5s;
}
a {
  text-decoration: none;
}
ul li:hover {
  opacity: 1;
}
.mbcs {
  margin-top: 30px;
  height: 130px;
  width: 130px;
}
@media only screen and (max-width: 600px) {
  ul {
    width: 95%;
  }
  h2 {
    width: 80%;
  }
}
